<div class="db-c-wrap store" >
  <div class="box box-h box-h-c db-title">
    <div class="bw back-ico" (click)="back()"></div>
    <div class="ellipsis tc flex-1">门店列表</div>
    <div class="bw add-ico" (click)="onAddStore()" *ngIf="code!=='0002'"></div>
  </div>
  <div class="store-list" scrollable [returnTop]="returnTop" (scrollTop)="onScrollTop($event)">
      <div class="pr sl-item" *ngFor="let i = index;let store of stores">
        <div class="pa sl-edit" (click)="onEditStore(store.id)" >编辑</div>
        <div class="pr sl-txt ellipsis" (click)="code==='0002'&&onEditStore(store.id)" [class.swipeleft]="store.swipeleft" (swipeleft)="code!=='0002'&&onSwipeLeft(i,stores)" (swiperight)="onSwipeRight(i,stores)">{{store.name}}</div>
      </div>
  </div>
  <!-- 回到顶部 -->
  <div class="return-top" alt="回到顶部" *ngIf="isReturnTop" (click)="onReturnTop()"></div>
  <!-- 回到顶部 end -->
</div>
