<div class="cr box box-v box-v-cc employee-add-form">
    
    <div class="cr-add">
        <div class="cr-add-t">添加技师</div>
        <div class="cr-form">
            <div class="cr-form-tip">
                员工姓名与员工编号至少填一项
            </div>
            <form class="employee-form">
                <div class="box box-h box-h-c fm-field ">
                    <label class="fm-label" for="ename" >员工姓名:</label>
                    <input class="flex-1 fm-ipt" id="ename" name="ename" type="text" maxlength="20" [(ngModel)]="employee.name" (focus)="onFieldFocus()" >
                </div>
                <div class="box box-h box-h-c fm-field r-store" (click)="onSelectStore()">
                    <label class="fm-label"  >关联门店:</label>
                    <div class="flex-1 fm-ipt"  >{{ employeeShopStr }}</div>
                    <div class="back-ico bw"></div>
                </div>
                <div class="box box-h box-h-c fm-field">
                    <label class="fm-label" for="emobile">手机号码:</label>
                    <input class="flex-1 fm-ipt" id="emobile" name="emobile" maxlength="11" type="text" [(ngModel)]="employee.mobile" (focus)="onFieldFocus()">
                </div>
            </form>
            <div class="fm-field-err">
                {{ fieldErrMsg }}
            </div>
            <div class="employee-btns tc">
                <div (click)="onSave()" >确定</div>
                <div (click)="onCancel()">取消</div>
            </div>
        </div>
            
    </div>
    
</div>
<div class="mask rs-mask" *ngIf="layerStore.showStoresLayer">
    <div class="mask-win">
        <div class="add-ico mask-close" (click)="onCloseStoreLayer()"></div>
        <div class="box box-v mask-main">
            <div class="rs-err-tip">{{layerStore.storeTipMsg}}</div>
            <div class="box box-h box-h-c rs-all">
                <label class="cbk-ico ellipsis" [class.active]="layerStore.storeAll"><input type="checkbox" name="storeAll" [ngModel]="layerStore.storeAll" (ngModelChange)="onToggleStoreAll($event)">所有门店</label>
            </div>
            <div class="flex-1 mask-cont">
                <div class="box box-h box-h-c" *ngFor="let store of layerStore.stores;">
                    <label class="cbk-ico ellipsis" [class.active]="store.checked"><input type="checkbox" name="estore" [ngModel]="store.checked" (ngModelChange)="onCheckStore(store, $event)">{{store.name}}</label>
                    <input type="text" class="flex-1 ipt" maxlength="20" placeholder="员工编号" *ngIf="store.checked" [(ngModel)]="store.code" (blur)="onStoreCodeBlur(store)" (focus)="onStoreCodeFocus()">
                </div>
            </div>
            <div class="rs-btn">
                <div class="tc" (click)="selectEmployeeStores()">确定</div>
            </div>
        </div>
    </div>
</div>

