.cr {
    .db-title {
        .bw {  
            width:93px;
        }
    }
    .cr-add {
        height:100%;
        overflow:hidden;
        padding-top:0;
    }

    .fm-field-err {
        height:60px;
        line-height: 60px;
        font-size:22px;
        text-indent: 24px;
        color:#f16557;
    }

    .cr-form {
        height:100%;
        overflow:auto;
        -webkit-overflow-scrolling:touch;
        padding-bottom:28px;

        .cr-form-tip {
            height:48px;
            line-height: 48px;
            text-indent: 24px;
            color:#9a9a9a;
            font-size:18px;
        }

        

        form {
            background:#fff;
        }
        .employee-form {
            .r-store {
                .flex-1 {
                    line-height: 78px;
                }
                .bw {
                    width:14px;
                    height:14px;
                    margin:0 24px;
                    transform: rotate(-90deg);
                    &:before, &:after {
                        background:#4d4d4d;
                        width:14px;
                        height:2px;
                        margin-top:-1px;
                    }
                }
            }
                
        }

        .si-btn {
            div {
                margin:0 24px;
            }
        }
    }
}

.rs-mask {
    .mask-win {
        position:absolute;
        top:24px;
        right:24px;
        bottom:24px;
        left:24px;
        padding: 60px 32px 28px 26px;
        color:#777;
        font-size:24px;
    }
    .mask-main {
        height:100%;
    }
    .mask-cont {
        overflow:auto;
        padding:5px 0;
        > div {
            height:54px;
            margin:24px 0;
            &:first-child {
                margin-top:0;
            }
            &:last-child {
                margin-bottom:0;
            }
        }
            
    }
    .rs-all {
        height:54px;
        margin: 24px 0 20px;
    }
    .rs-err-tip {
        line-height: 1;
        font-size:24px;
        height:24px;
        color:#f16557;
    }

    label {
        display:block;
        width:200px;
        margin-right:24px;
        padding-left:38px;
    }
    .cbk-ico {
        &:before {
            width:24px;
            height:24px;
        }
        &:after {
            width:20px;
            height:10px;
        }
    }
    .ipt {
        display:block;
        border: 1px solid #ddd;
        height: 54px;
        line-height: 52px;
        color:#9a9a9a;
        padding:0 24px;
    }

    .rs-btn {
        padding-top:28px;
        height:70px;
        div {
            border:1px solid #38b549;
            color:#38b549;
            font-size: 28px;
            line-height: 40px;
            border-radius: 8px;
            width:172px;
            margin:0 auto;
        }
    }

    

}

.employee-add-form {
    width:100%;
    height:100%;

    .cr-add {
        height: auto;
        width:592px;
        background:#fff;
        border-radius: 20px;
        padding:28px 0 30px;

        .cr-add-t {
            font-size:22px;
            line-height:1;
            color:#38b549;
            text-indent: 24px;
            margin-bottom:16px;
        }
    }
    .employee-form {
        > .fm-field {
            &:first-child {
                border-top: 1px solid #e5e5e5;
            }
        }
    }
}
.employee-btns {
    font-size:0;
    > div {
        display: inline-block;
        font-size:28px;
        width:172px;
        height: 42px;
        border: 1px solid #38b549;
        color:#38b549;
        line-height: 40px;
        text-align: center;
        margin: 0 32px;
        border-radius: 8px;
    }
}