.store-form {
    font-size:22px;

    select {
        background:#fff;
        border:none;
        outline:none;
        display:block;
        width:100%;
        appearance: none;
        -moz-appearance:none;
        -webkit-appearance:none;
        height:78px;
        padding:0;
    }

    input[type="tel"], input[type="number"] {
        appearance: none;
        -moz-appearance:none;
        -webkit-appearance:none;
    }

    .fm-ipt {
        padding:0;
    }

    .legend {
        padding:17px 24px 8px;

        .legtit {
            color:#39b549;
            padding:8px 0;
            line-height: 1;
        }
        .legdes {
            color:#9a9a9a;
            line-height: 34px;
            margin:0;
            font-size:22px;
        }
    }

    .sf-fields {
        background:#fff;
    }

    
    .fm-label {
        width:156px;
        padding:0;
    }
    .fm-sel {
        border:none;
    }
    .s-type {
        padding: 10px 0 28px;

        > label {
            padding-top: 30px;
        }
        .flex-1 {
            font-size:0;
            div {
                display:inline-block;
                width:50%;
                padding-top:22px;
            }
            label {
                position:relative;
                font-size:22px;
                display:inline-block;
                min-width:126px;
                text-align: center;
                line-height: 40px;
                border:1px solid #808080;
                border-radius:4px;
                padding: 0 14px;
                transition:all .4s ease;
                input {
                    display:none;
                }
                span { 
                    margin-right:13px; 
                    display:none;
                }
                &.active {
                    position:relative;
                    padding-left:41px;
                    border-color:#38b549;
                    color:#38b549;
                    span {
                        position:absolute;
                        left: 16px;
                        display:inline-block;
                        
                    }
                }
                
            }
        }
    }

    .fm-area {
        div {
            padding:0 24px 0 12px;
        }
    }

    
    .fm-sel {
        &:before, &:after {
            top:38px;
        }
    }

    

}

.err-tip {
    color:#f16557;
    line-height: 1;
    font-size:22px;
    height:62px;
    padding:20px 24px;

}
.f-err-tip {
    padding: 4px 0 13px;
    height: 0;
    transition: all .4s linear;
    &.active {
        height: 39px;
    }
}