<div class="db-c-wrap">
    <div class="box box-h box-h-c db-title">
        <div class="bw back-ico" (click)="onCloseEmployeeLayer()"></div>
        <div class="ellipsis tc flex-1">我的技师</div>
        <div class="bw add-ico" (click)="onAddNewEmployee()" ></div>
    </div>
    <div class="cr-list">
        <div class="list-table"  *ngIf="employees.length">
            <div class="bh list-thead">
                <div class="box box-h box-h-c list-tr list-ths">
                    <div>序号</div>
                    <div>员工姓名</div>
                    <div>员工编号</div>
                    <div>手机号</div>
                    <div>服务次数</div>
                </div>
            </div>
            <div class="list-tbody" >
                <div class="pr list-tds" *ngFor="let cr of employees; let idx = index;">
                    <div class="pr box box-h box-h-c list-tr " (click)="onSelectAccount(cr)" >
                        <div>{{ idx + 1 }}</div>
                        <div>{{ cr.name ? cr.name : '-' }}</div>
                        <div>{{ cr.code ? cr.code : '-'  }}</div>
                        <div>{{ cr.mobile ? cr.mobile : '-' }}</div>
                        <div>{{ cr.serviceTimes ? cr.serviceTimes : '-' }}</div>
                    </div>
                </div>
                <div class="btn-more" *ngIf="next">
                    <img  *ngIf="!end" src="/assets/img/loading-circle.gif" alt="" />
                    {{end?'没有更多内容了':'加载中...'}}
                </div>
            </div>
        </div>
        <div class="list-empty box box-v box-v-cc" *ngIf="!employees.length">
            <div class="list-null">
                <div class="img"></div>
                <div class="btn tc" (click)="onAddNewEmployee()">+ 添加技师</div>
            </div>
        </div>
    </div>
   
</div>
<div class="mask employee-mask" *ngIf="showAddEmployeeLayer">
    <account-employee-add (onToggleShowLayer)="onToggleShowLayer($event)"></account-employee-add>
</div>

<div class="box box-v box-v-cc confirm" *ngIf="showTipWin">
    <div class="box box-v confirm-c">
        <div class="flex-1 confirm-msg">{{tipMsg}}</div>
        <div class="box box-h box-h-c confirm-op tc">
            <div class="flex-1 confirm-ok" (click)="onOkey(tipKey)">{{ tipOkeyBtnTxt }}</div>
            <div class="flex-1 confirm-cancel" *ngIf="!isAlert" (click)="onCancel(tipKey)" >取消</div>
        </div>
    </div>
</div>