<div class="db-c-wrap account-pwd">
    <div class="box box-h box-h-c db-title">
        <div class="bw back-ico" (click)="back()"></div>
        <div class="ellipsis tc flex-1">修改密码</div>
        <div class="bw btn-ico" (click)="onSave()">保存</div>
    </div>
    <div class="flex-1">
        <div class="pwd-main">
            <form class="pwd-form">
                <div class="box box-h box-h-c fm-field ">
                    <label class="fm-label" for="opwd" >当前密码:</label>
                    <input class="flex-1 fm-ipt" id="opwd" name="opwd" type="password" maxlength="16" [(ngModel)]="oldPwd" (focus)="onFieldFocus()" >
                </div>
                <div class="box box-h box-h-c fm-field ">
                    <label class="fm-label" for="npwd" >新密码:</label>
                    <input class="flex-1 fm-ipt" id="npwd" name="npwd" type="password" [(ngModel)]="newPwd" (focus)="onFieldFocus()" >
                </div>
                <div class="box box-h box-h-c fm-field">
                    <label class="fm-label" for="rnpwd">确认新密码:</label>
                    <input class="flex-1 fm-ipt" id="rnpwd" name="rnpwd"  type="password" [(ngModel)]="reNewPwd" (focus)="onFieldFocus()" >
                </div>
            </form>
            <div class="fm-field-err">
                {{ fieldErrMsg }}
            </div>
        </div>
        
    </div>
    
</div>

<div class="box box-v box-v-cc confirm" *ngIf="showTipWin">
    <div class="box box-v confirm-c">
        <div class="flex-1 confirm-msg">{{tipMsg}}</div>
        <div class="box box-h box-h-c confirm-op tc">
            <div class="flex-1 confirm-ok" (click)="onOkey(tipKey)">{{ tipOkeyBtnTxt }}</div>
            <div class="flex-1 confirm-cancel" *ngIf="!isAlert" (click)="onCancel(tipKey)" >取消</div>
        </div>
    </div>
</div>