<div class="db-c-wrap cr">
  <div class="box box-h box-h-c db-title">
    <div class="bw back-ico" (click)="back()"></div>
    <div class="ellipsis tc flex-1">编辑服务</div>
    <div class="btn btn-default" (click)="onSave()">保存</div>
  </div>
  <div class="cr-add">
    <div class="cr-form">
      <form >
        <div class="box box-h box-h-c fm-field ">
          <label class="fm-label" for="vehicleLicence">车牌号:</label>
          <input class="flex-1 fm-ipt" id="vehicleLicence" name="vehicleLicence" type="text" maxlength="9" [(ngModel)]="bs.vehicleLicence">
        </div>
        <div class="box box-h box-h-c fm-field ">
          <label class="fm-label" for="name">服务项目:</label>
          <input class="flex-1 fm-ipt" id="name" name="name" type="text" maxlength="17" [(ngModel)]="bs.name">
        </div>
        <div class="box box-h box-h-c fm-sel">
          <label class="fm-label" for="employeeId">主理技师:</label>
          <select id="employeeId" required name="employeeId" [ngModel]="bs.employeeId" (ngModelChange)="selectEmployee($event)"  #employeeId="ngModel">
            <option value="null">请选择主理技师</option>
            <option [value]="e.id" *ngFor="let e of employeeList">{{e.name||e.code}}</option>
            <option value="other">其他</option>
          </select>
        </div>
        <div class="box box-h fm-field">
          <label class="fm-label" for="description">备注:</label>
          <textarea class="flex-1 fm-ta" name="description" id="description" [(ngModel)]="bs.description"></textarea>
        </div>
      </form>
      <div class="btn-block mt50">
          <button type="button" (click)="onDel()" class="btn btn-warning" >删除该服务记录</button>
      </div>
    </div>
  </div>
</div>
<div class="box box-v box-v-cc confirm" *ngIf="showTipWin">
  <div class="box box-v confirm-c">
    <div class="flex-1 confirm-msg">{{tipMsg}}</div>
    <div class="box box-h box-h-c confirm-op tc">
      <div class="flex-1 confirm-ok" (click)="onOkey(tipKey)">确定</div>
      <div class="flex-1 confirm-cancel" *ngIf="!isAlert" (click)="onCancel(tipKey)">取消</div>
    </div>
  </div>
</div>
