.cr {
  .cr-form {
    form {
      background: #fff;
    }
  }
}

.customer-tip {
  position: absolute;
  left: 50%;
  top: 163px;
  z-index: 20;

  .old-customer {
    background: url("/assets/img/dashboard/old-customer.png") no-repeat;
    width: 161px;
    height: 194px;
  }

  .new-customer {
    background: url("/assets/img/dashboard/new-customer.png") no-repeat;
    width: 161px;
    height: 194px;
  }
}
