<div class="db-c-wrap">
    <div class="box box-h box-h-c db-title">
        <div class="bw back-ico" (click)="goToAccountInfoPage()" ></div>
        <div class="ellipsis tc flex-1">子账号管理</div>
        <div class="bw add-ico" (click)="onAddNewAccount()" ></div>
    </div>
    <div class="cr-list">
        <div class="list-table" (panleft)="onSwipeLeft($event,listTbody)" (panright)="onSwipeRight($event,listTbody)" *ngIf="accounts.length">
            <div class="bh list-thead">
                <div class="box box-h box-h-c list-tr list-ths">
                    <div>序号</div>
                    <div>员工姓名</div>
                    <div>账户角色</div>
                    <div>手机号码</div>
                    <div>关联门店</div>
                </div>
            </div>
            <div class="list-tbody" #listTbody>
                <div class="pr list-tds" *ngFor="let cr of accounts; let idx = index;">
                    <div class="list-edit" (click)="onEditAccount(cr, $event)" >编辑</div>
                    <div class="pr box box-h box-h-c list-tr "  >
                        <div>{{ idx + 1 }}</div>
                        <div>{{ cr.name ? cr.name : '-' }}</div>
                        <div>{{ cr.roleStr ? cr.roleStr : '-'  }}</div>
                        <div>{{ cr.mobile ? cr.mobile : '-' }}</div>
                        <div>{{ cr.shopStr ? cr.shopStr : '-' }}</div>
                    </div>
                </div>
                <div class="btn-more" *ngIf="next">
                    <img  *ngIf="!end" src="/assets/img/loading-circle.gif" alt="" />
                    {{end?'没有更多内容了':'加载中...'}}
                </div>
            </div>
        </div>
        <div class="list-empty box box-v box-v-cc" *ngIf="!accounts.length">
            <div class="list-null">
                <div class="img"></div>
                <div class="btn tc" (click)="onAddNewAccount()">+ 添加子账号</div>
            </div>
        </div>
    </div>
    <div class="box box-v box-v-cc confirm" *ngIf="showDelWin">
        <div class="box box-v confirm-c">
            <div class="flex-1 confirm-msg">顾客删除后，其相应的服务记录不会删除，是否继续</div>
            <div class="box box-h box-h-c confirm-op tc">
                <div class="flex-1 confirm-ok" (click)="onDelCustomer()">确定</div>
                <div class="flex-1 confirm-cancel" (click)="onCloseDelWin()" >取消</div>
            </div>
        </div>
    </div>
</div>
<!--<div class="return-top" alt="回到顶部" *ngIf="isReturnTop" (click)="onReturnTop()" ></div>-->
