<div class="db-c-wrap">
    <div class="box box-h box-h-c db-title">
        <div class="bw"></div>
        <div class="ellipsis tc flex-1">沪B2L052</div>
        <div class="bw add-ico"></div>
    </div>
    <div class="time-block">
        <a class="fl arrow" (click)="onLastDate()">&lt;</a>
        <input type="date" name="name" class="time-btn" [max]="today" [(ngModel)]="date" (change)="onPickerChange(date)">
        <a class="fr arrow" [hidden]="!isToday()" (click)="onNextDate()">&gt;</a>
    </div>
    <div class="title-total">
        {{scrollEnd}}合计 <span class="text-warning">{{page?.total||0}}</span> 笔服务 平均 <span class="text-warning">{{list?.score||0}}</span> 分
    </div>
    <div class="cr-list" (panleft)="onSwipeLeft($event)" (panright)="onSwipeRight($event)" *ngIf="!!page?.total">
        <div class="list-table">
            <div class="bh list-thead">
                <div class="box box-h box-h-c list-tr list-ths">
                    <div>序号</div>
                    <div>时间</div>
                    <div>车牌号</div>
                    <div>服务项目</div>
                    <div>主理技师</div>
                    <div>满意度评分</div>
                </div>
            </div>
            <div class="list-tbody" #listTbody scrollable [returnTop]="returnTop" (scrollEnd)="onScrollEnd($event)" (scrollTop)="onScrollTop($event)">
                <div class="box box-h box-h-c list-tr list-tds" *ngFor="let item of list?.content, let i = index" >
                    <div >{{i+1}}</div>
                    <div>{{item.date}}</div>
                    <div>{{item.licence}}</div>
                    <div>{{item.services}}</div>
                    <div>{{item.employee}}</div>
                    <div>{{item.score}}</div>
                    <div class="list-edit" [routerLink]="['../../../edit',item.id]">编辑</div>
                    <div class="list-del" [routerLink]="['../../../add']" (click)="onDelRecord(item)">删除</div>
                </div>
                <div class="btn-more" *ngIf="next">
                    <img  *ngIf="!end" src="/assets/img/loading-circle.gif" alt="" />
                    {{end?'没有更多内容了':'加载中...'}}
                </div>
            </div>
        </div>
    </div>
    <div class="box-list box box-v box-v-cc" *ngIf="!page?.total">
        <div class="list-null">
            <div class="img"></div>
            <div class="txt">您今天还没记录过服务</div>
        </div>
    </div>
</div>
<div class="return-top" alt="回到顶部" *ngIf="isReturnTop" (click)="onReturnTop()" >

</div>
<business-tab></business-tab>
