
.header {
  width: 100%;
  height: 90px;
  text-align: center;
}

.header-default {
  color: #fff;
  background: url("/assets/img/header-bg.jpg");

  .title {
    font-size: 28px;
    line-height: 90px;
  }
}

.btn-block {
  padding: 0 20px;
}

.btn {
  font-size: 24px;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid transparent;

  &.disabled,
  &[disabled] {
    background: #9a9a9a;
  }
}

.btn-default {
  padding: 12px 24px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

.btn-primary {
  padding: 26px 24px;
  background: #3fb648;
  color: #fff;
  width: 100%;
}

.btn-right {
  position: absolute;
  right: 15px;
  top: 18px;
}

.btn-link {
  color: #3fb648;
  font-size: 24px;
}

.btn-more {
  // position: absolute;
  // bottom: 220px;
  // left: 0;
  width: 100%;
  height: 100px;
  color: #777;
  text-align: center;
  font-size: 20px;
  z-index: 1;
  line-height: 100px;

  img {
    vertical-align: middle;
  }
}

.alert-error {
  color: #f16557;
  font-size: 24px;
  padding: 0 20px 10px;
  margin-bottom: 10px;
}

.win {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .win-block {
    width: 100%;
    height: 100%;
    background: #e5e5e5;
  }
}

.content {
  margin: 25px 0;
}

.input-group {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;

  &.error {
    border: 0;
    border-top: 1px solid rgb(241,101,87);
    border-bottom: 1px solid rgb(241,101,87);
  }

  .input {
    width: 100%;
    height: 70px;
    font-size: 24px;
    padding: 0 20px;
  }

  .input-50 {
    width: 50%;
  }

  .input-img {
    float: right;
    width: 120px;
    height: 70px;
    position: absolute;
    right: 140px;
    top: 0;
  }

  .input-btn {
    position: absolute;
    right: 7px;
    top: 7px;
  }
}

.md-primary[md-button] {
  color: #3fb648;
}

.md-button-primary[md-raised-button] {
  font-size: 24px;
  width: 96%;
  height: 88px;
  background-color: #3fb648;
  margin: 0 2%;
  color: #fff;
}

.find-mima {
  margin-top: 20px;
  text-decoration: underline;
}

.time-block {
  position: relative;
  background: #d7d7d7;
  color: #343434;
  height: 50px;
  text-align: center;

  .time-btn {
    display: inline-block;
    text-align: center;
    width: 188px;
    margin: 0 auto 0 35px;
    height: 50px;
  }

  .arrow {
      font-size: 40px;
      position: absolute;
      height: 50px;
      line-height: 50px;
  }

  .arrow-left {
    left: 23px;
  }

  .arrow-right {
    right: 23px;
  }
}
::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; }

input[type="date"] {
  -webkit-align-items: center;
  display: -webkit-inline-flex;
  font-family: monospace;
  overflow: hidden;
  padding: 0;
  -webkit-padding-start: 1px;
  background:transparent;
}

input::-webkit-datetime-edit {
  -webkit-flex: 1;
  -webkit-user-modify: read-only !important;
  display: inline-block;
  min-width: 0;
  overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
  -webkit-user-modify: read-only !important;
  display: inline-block;
  padding: 1px 0;
  white-space: pre;
}

input[type=date]::-ms-clear {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  visibility: hidden;
  display: none;
}

.title-total {
  text-align: center;
  color: #777;
  font-size: 22px;
  padding: 20px 0;
  background: #fff;
}

.text-warning {
  color: #f16557;
}

input[type=date] {
  background: #d7d7d7;
  border: 0;
  font-size: 22px;
  line-height: 20px;
}

.cr-list {
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  // padding:28px 0 0;
  .list-table {
    position: relative;
    background: #fff;
    height: 100%;
    padding-top: 79px;
    padding-bottom: 220px;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;

    .list-thead {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }

    .list-tbody {
      position: relative;
      z-index: 10;
      height: 100%;
      min-height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      transition: all 0.3s ease-in-out;

      .list-tds {
        transition: all 0.1s ease-in-out;
      }

      .swipeleft {
        margin-left: -210px;
        transition: all 0.25s ease-out;
      }

      &.panup {
        margin-top: -100px;
        transition: all 0.5s ease-in-out;
      }
    }

    .list-disabled {
      background: #d2d2d2;
      color: #777;
    }

    .list-tr {
      padding: 0 24px;
      border-bottom: 1px solid #e5e5e5;
      width: 640px;

      > div {
        height: 78px;
        line-height: 78px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:nth-child(1) {
          width: 57px;
        }

        &:nth-child(2) {
          width: 102px;
        }

        &:nth-child(3) {
          width: 112px;
        }

        &:nth-child(4) {
          width: 110px;
        }

        &:nth-child(5) {
          width: 93px;
        }

        &:nth-child(6) {
          width: 118px;
        }
      }
    }
  }
}

.box-list {
  height: 100%;
  padding-bottom: 220px;
  background: #fff;
}
