.store {
    .btn-ico {
        width:93px;
    }
}
.store-add {
    height:100%;
    overflow:auto;
    -webkit-overflow-scrolling:touch;

    .si-btn {
        padding: 34px 24px ;
    }
}
.store-del-win {
    .sd-c {
        width:400px;
        margin: 0 auto;
        font-size:28px;
    }
    .confirm-msg {
        padding: 36px 0 24px;
        line-height: 36px;
        font-size:28px;
        color:#f16557;
    }
    .btn-code {
        height:49px;
        width:179px;
        border: 2px solid #60c46d;
        line-height: 44px;
        color:#60c46d;
        border-radius: 8px;

        &.disabled {
            border-color:#c5c5c5;
            background:#c5c5c5;
            color:#fff;
        }
    }
    .v-code {
        padding:23px 0 20px;
        input {
            display:block;
            border:1px solid #777;
            height:50px;
            width:100%;
            line-height: 48px;
            padding: 0 18px;
            box-sizing: border-box;
            font-size:24px;
        }
    }
    .tip-msg {
        color:#f16557;
        height:0;
        line-height: 1;
        &.active {
            height:44px;
        }
    }
}
