html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Microsoft YaHei", Helvetica, Arial, "Lucida Grande", sans-serif, 华文细黑, STHeiti, SimHei;
  width: 100vw;
  max-width: 640px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  outline: 0;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
  outline: 0;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  width: 21px;
  height: 21px;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="text"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.db {
  display: block;
}

.d-inb {
  display: inline-block;
}

.full {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}


/** need width for element **/

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis-m {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


/** flex box model **/

.box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: flex;
}

.box-h {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.box-h-c {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.box-h-cc {
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.box-v {
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.box-v-c {
  -webkit-justify-content: center;
  justify-content: center;
}

.box-v-cc {
  -webkit-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-1 {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.p-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(/assets/img/loading.gif) no-repeat center center;
}

.thide {
  display: none;
}


/** css ico **/

.menu-ico {
  position: relative;
  width: 36px;
  height: 30px;
  font-size: 0;
}

.menu-ico span {
  display: block;
  position: absolute;
  height: 4px;
  background: #fff;
  left: 0;
  right: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.menu-ico span:first-child {
  top: 0;
}

.menu-ico span:last-child {
  bottom: 0;
}

.menu-ico span:nth-child(2) {
  top: 50%;
  margin-top: -2px;
  opacity: 1;
}

.menu-ico.active span:first-child {
  top: 50%;
  margin-top: -2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-ico.active span:last-child {
  bottom: 50%;
  margin-bottom: -2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-ico.active span:nth-child(2) {
  opacity: 0;
}

.add-ico {
  position: relative;
  width: 35px;
  height: 35px;
}

.add-ico:before, .add-ico:after {
  position: absolute;
  display: block;
  content: '';
  background: #fff;
}

.add-ico:before {
  width: 100%;
  height: 5px;
  top: 15px;
  left: 0;
}

.add-ico:after {
  width: 5px;
  height: 100%;
  top: 0;
  left: 15px;
}

.back-ico {
  position: relative;
  width: 36px;
  height: 36px;
}

.back-ico:before, .back-ico:after {
  position: absolute;
  display: block;
  width: 36px;
  height: 4px;
  border-radius: 2px 0 0 1px;
  background: #fff;
  content: '';
  top: 50%;
  margin-top: -2px;
  -webkit-transform-origin: 2px 2px;
  transform-origin: left center;
}

.back-ico:before {
  transform: rotate(-30deg);
  -webkit-transform: rotate(-25deg);
}

.back-ico:after {
  transform: rotate(30deg);
  -webkit-transform: rotate(25deg);
}

.btn-ico {
  width: 93px;
  height: 34px;
  border: 1px solid #fff;
  border-radius: 4px;
  line-height: 31px;
  text-align: center;
  font-size: 22px;
}

.cbk-ico {
  position: relative;
  padding-left: 20px;
}

.cbk-ico input {
  display: none;
}

.cbk-ico:before, .cbk-ico:after {
  display: block;
  position: absolute;
  content: '';
}

.cbk-ico:before {
  width: 15px;
  height: 15px;
  left: 0;
  top: 5px;
  border: 1px solid #b2c2cc;
}

.cbk-ico:after {
  opacity: 0;
  width: 12px;
  height: 6px;
  top: 8px;
  left: 2px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cbk-ico.active:before {
  background: #8dc63f;
}

.cbk-ico.active:after {
  opacity: 1;
}


/** 列表 **/

.list-table {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.list-table .list-thead {
  background: #fff;
}

.list-ths {
  font-size: 22px;
}

.list-tds {
  font-size: 18px;
}

.list-tr {
  position: relative;
  background: #fff;
}

.list-table .list-edit, .list-table .list-del {
  position: absolute;
  width: 105px;
  height: 78px;
  color: #fff;
  text-align: center;
  line-height: 78px;
  background: #8cc63f;
  top: 0;
  right: -105px;
}

.list-table .list-del {
  background: #f16557;
  right: -210px;
}

.list-empty {
  height: 100%;
}

.list-null .img {
  margin: 0 auto;
  width: 198px;
  height: 283px;
  background: url(/assets/img/dashboard/list_null.png) no-repeat center center;
  margin-bottom: 30px;
}

.list-null .txt {
  text-align: center;
  font-size: 22px;
  color: #777;
}

.list-null .btn {
  width: 236px;
  height: 59px;
  line-height: 59px;
  border-radius: 8px;
  background: #38b549;
  color: #fff;
  font-size: 28px;
  margin: 22px auto 0;
}


/** common **/

.db-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 28px;
  color: #fff;
  padding: 32px 34px 0;
}

.db-title .bw {
  width: 35px;
  height: 35px;
}

.db-title .flex-1 {
  margin: 0 8px;
}

.db-c-wrap {
  position: relative;
  height: 100%;
  padding-top: 98px;
  overflow: hidden;
}

.cr-form {
  color: #343434;
  font-size: 22px;
}

.cr-form .fm-field {
  border-bottom: 1px solid #e5e5e9;
}

.cr-form .fm-label {
  display: block;
  width: 175px;
  text-indent: 24px;
  padding: 30px 0;
}

.cr-form .fm-ipt {
  display: block;
  border: none;
  height: 78px;
  font-size: 22px;
  color: #343434;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.cr-form .fm-ta {
  min-height: 160px;
  display: block;
  border: none;
  font-size: 22px;
  color: #343434;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  padding: 20px;
  resize: none;
  overflow-y: auto;
  _overflow-y: visible;
}

.cr-form .warning {
  color: #f16557;
}

.cr-form .fm-extra {
  line-height: 40px;
  padding: 10px 24px;
  background: #e5e5e5;
}

.cr-form .fm-extra p {
  color: #9a9a9a;
  margin: 0;
}

.cr-form select.fm-ipt {
  display: block;
  width: 100%;
}

.cr-form .fm-sel {
  position: relative;
  border-bottom: 1px solid #e5e5e9;
}

.cr-form .fm-sel:before, .cr-form .fm-sel:after {
  content: '';
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  top: 50px;
  right: 28px;
  border-radius: 1px 0 0 1px;
  transform-origin: 1px 1px;
  background: #343434;
}

.cr-form .fm-sel:before {
  transform: rotate(-120deg);
}

.cr-form .fm-sel:after {
  transform: rotate(-60deg);
}

.cr-form .fm-sel select {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 30px 0;
}

.cr-form .fm-tip {
  height: 0;
  overflow: hidden;
  transition: all .3s linear;
}

.cr-form .fm-tip.warning {
  height: 40px;
}

.confirm {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  font-size: 28px;
  color: #000;
  z-index: 200;
}

.confirm .confirm-c {
  position: relative;
  width: 483px;
  min-height: 220px;
  height: auto;
  background: #fff;
  border-radius: 20px;
}

.confirm .confirm-c:before {
  position: absolute;
  display: block;
  content: '';
  width: 224px;
  height: 163px;
  top: -149px;
  left: 50%;
  margin-left: -112px;
  background: url(/assets/img/dashboard/alert_head.png) no-repeat bottom center;
}

.confirm .confirm-op {
  border-top: 1px solid #b5b5b5;
  height: 68px;
  line-height: 67px;
  color: #38b549
}

.confirm .confirm-cancel {
  border-left: 1px solid #b5b5b5;
}

.confirm .confirm-msg {
  line-height: 34px;
  padding: 46px 60px 39px;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 200;
}

.mask .mask-win {
  border-radius: 10px;
  background: #fff;
  position: relative;
}

.mask .mask-win .mask-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mask .mask-win .mask-close:before, .mask .mask-win .mask-close:after {
  background: #343434;
}

.mask .mask-win .mask-close:before {
  width: 24px;
  height: 4px;
  top: 10px;
}

.mask .mask-win .mask-close:after {
  width: 4px;
  left: 10px;
}

.s-topbar> div {
  height: 77px;
  background: #4dba46;
  padding: 0 24px;
  font-size: 22px;
}

.s-topbar .s-stxt {
  color: #fff;
}

.s-topbar .s-field {
  height: 100%;
}

.s-topbar .s-ipt {
  position: relative;
  width: 426px;
  height: 50px;
  margin: 13px auto 0;
}

.s-topbar input {
  display: block;
  background: #fff;
  box-sizing: border-box;
  border-radius: 25px;
  border: none;
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  padding: 0 43px;
}

.s-topbar .s-ipt i {
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -14px;
  background: #c7c7c7;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 12px;
}

.s-topbar .s-ipt .add-ico:before {
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -6px;
}

.s-topbar .s-ipt .add-ico:after {
  width: 2px;
  height: 12px;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -1px;
}
