.cr {
    .db-title {
        .bw {  
            width:93px;
        }
    }
    .cr-add {
        padding-top: 28px;
        height:100%;
        overflow:hidden;
    }
    .cr-form {
        height:100%;
        overflow:auto;
        -webkit-overflow-scrolling:touch;
        padding-bottom:28px;
        form {
            background:#fff;
        }
        .fm-sel {
            border:none;
        }
        select {
            background:#fff;
            appearance:none;
            -moz-appearance:none;
            -webkit-appearance:none;
            padding: 30px 0;
            border:none;
        }
    }
    .cr-delete {
        padding: 34px 24px 40px;
        > div {
            margin:0 auto;
        }
    }
}