.store-init {
    height:100vh;
    width:100%;
    background:#e5e5e5;

    .bh {
        background: url(/assets/img/init_top.png) no-repeat top center;
        height:92px;
    }
    > .flex-1 {
        overflow:auto;
        -webkit-overflow-scrolling:touch;
    }

    .si-btn {
        padding: 0 24px 34px;
    }
}