<div class="db-c-wrap cr">
    <div class="box box-h box-h-c db-title">
        <div class="bw back-ico" (click)="onGoBack()"></div>
        <div class="ellipsis tc flex-1">{{ code!=='0002'?(employee.id ? '编辑技师信息' : '新增技师信息'):'查看技师信息' }}</div>
        <div class="bw btn-ico" (click)="onSave()" *ngIf="code!=='0002'">保存</div>
        <div class="bw" *ngIf="code==='0002'"></div>
    </div>
    <div class="cr-add">
        <div class="cr-form">
            <div class="cr-form-tip" *ngIf="code!=='0002'">
                员工姓名与员工编号至少填一项
            </div>
            <form class="employee-form">
                <div class="box box-h box-h-c fm-field ">
                    <label class="fm-label" for="ename" >员工姓名:</label>
                    <input class="flex-1 fm-ipt" id="ename" [disabled]="code==='0002'" name="ename" type="text" maxlength="20" [(ngModel)]="employee.name" (focus)="onFieldFocus()" >
                </div>
                <div class="box box-h box-h-c fm-field r-store" (click)="code!=='0002'&&onSelectStore()">
                    <label class="fm-label"  >关联门店:</label>
                    <div class="flex-1 fm-ipt"  >{{ employeeShopStr }}</div>
                    <div class="back-ico bw" *ngIf="code!=='0002'"></div>
                </div>
                <div class="box box-h box-h-c fm-field">
                    <label class="fm-label" for="emobile">手机号码:</label>
                    <input class="flex-1 fm-ipt" id="emobile" [disabled]="code==='0002'" name="emobile" maxlength="11" type="text" [(ngModel)]="employee.mobile" (focus)="onFieldFocus()">
                </div>
            </form>
            <div class="fm-field-err">
                {{ fieldErrMsg }}
            </div>
            <div class="si-btn" *ngIf="employee.id&&code!=='0002'">
                <div class="f-del-btn" (click)="onShowDelEmplyeeLayer()" >删除该员工</div>
            </div>
        </div>

    </div>

</div>

<div class="mask rs-mask" *ngIf="layerStore.showStoresLayer">
    <div class="mask-win">
        <div class="add-ico mask-close" (click)="onCloseStoreLayer()"></div>
        <div class="box box-v mask-main">
            <div class="rs-err-tip">{{layerStore.storeTipMsg}}</div>
            <div class="box box-h box-h-c rs-all">
                <label class="cbk-ico ellipsis" [class.active]="layerStore.storeAll"><input type="checkbox" name="storeAll" [ngModel]="layerStore.storeAll" (ngModelChange)="onToggleStoreAll($event)">所有门店</label>
            </div>
            <div class="flex-1 mask-cont">
                <div class="box box-h box-h-c" *ngFor="let store of layerStore.stores;">
                    <label class="cbk-ico ellipsis" [class.active]="store.checked"><input type="checkbox" name="estore" [ngModel]="store.checked" (ngModelChange)="onCheckStore(store, $event)">{{store.name}}</label>
                    <input type="text" class="flex-1 ipt" maxlength="20" placeholder="员工编号" *ngIf="store.checked" [(ngModel)]="store.code" (blur)="onStoreCodeBlur(store)" (focus)="onStoreCodeFocus()">
                </div>
            </div>
            <div class="rs-btn">
                <div class="tc" (click)="selectEmployeeStores()">确定</div>
            </div>
        </div>
    </div>
</div>

<div class="box box-v box-v-cc confirm" *ngIf="showTipWin">
    <div class="box box-v confirm-c">
        <div class="flex-1 confirm-msg">{{tipMsg}}</div>
        <div class="box box-h box-h-c confirm-op tc">
            <div class="flex-1 confirm-ok" (click)="onOkey(tipKey)">{{ tipOkeyBtnTxt }}</div>
            <div class="flex-1 confirm-cancel" *ngIf="!isAlert" (click)="onCancel(tipKey)" >取消</div>
        </div>
    </div>
</div>
